.event {
  &__image {
    width: 250px;
    height: 250px;

    @include breakpoint(medium) {
      margin-left: 2 * $size;
    }
  }

  &__date {
    font-size: 1.5rem;
    @include breakpoint(medium) {
      font-size: 2rem;
    }
  }

  &__buttons {
    padding: (2 * $size) 0;
  }
}
