.events {
  max-width: 1000px;
  margin: 0 auto;

  &__item {
    width: 250px!important;
  }

  &__button {
    margin-bottom: 0;
  }

  &__link {
    color: white;
    transition: color 0.5s;

    &:hover {
      color: map-get($foundation-palette, primary);
    }
  }

  &__date {
    margin: -0.3rem 0;
  }

  &__title {
    font-size: 1.3rem;
    line-height: 1em;
    padding-top: 1rem;
  }

  &__image {
    width: 250px;
    height: 250px;
  }

}
