.sponsors {
  flex-wrap: wrap;

  &__image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 270px;
    height: 270px;
    margin: 15px;
    transition: filter 0.5s;
    filter: grayscale(100%);
  }

  &__sponsor {
    flex-grow: 0;
    width: 300px;

    &:hover {
      .sponsors__image {
        filter: grayscale(0%);
      }
    }
  }
}
