.sponsors {
  flex-wrap: wrap;

  &__link {
    transition: color 0.5s;
    color: white;
  }

  &__image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    transition: filter 0.5s;
    filter: grayscale(100%);
  }

  &__sponsor {
    margin: 2rem 0;

    &:hover {
      .sponsors__image {
        filter: grayscale(0%);
      }
    }
  }
}
