.content {

  &__title {
    border-bottom: 1px solid grey;
    font-size: 3rem;
    line-height: 1em;
    font-family: 'Coda', cursive;

    @include breakpoint(small only) {
      padding-left: 2rem;
      font-size: 2rem;
    }
  }

  &__grid-container {
    padding-top: $size;
    padding-bottom: $size;

    @include breakpoint(medium) {
      padding-top: 2.5 * $size;
      padding-bottom: 2.5 * $size;
    }
  }

}
