.events {

  &__button {
    margin-bottom: 0;
  }

  &__item {
    padding: 2 * $size 0;

    &:first-child {
      padding-top: $size;
    }

    @include breakpoint(small only) {
      border-bottom: 1px solid white;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__link {
    color: white;
    transition: color 0.5s;

    &:hover {
      color: map-get($foundation-palette, primary);
    }
  }

  &__date {
    margin: -0.3rem 0;
  }

  &__title {
    line-height: 1em;
  }

  &__image {
    margin-right: 2rem;
    @include breakpoint(small only) {
      margin-right: 1rem;
    }
  }

}
