.loader {
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  font-size: 2rem;

  &__image {
    width: 150px;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
