@import 'foundation-settings';
@import '~foundation-sites/scss/foundation.scss';
@import url('https://fonts.googleapis.com/css?family=Coda');

@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything($prototype: true);

$ccmc-menu-height: 3.4rem;

@import 'components/breadcrumbs';
@import 'components/contact';
@import 'components/content';
@import 'components/countdown';
@import 'components/event';
@import 'components/events';
@import 'components/home';
@import 'components/loader';
@import 'components/map';
@import 'components/menu';
@import 'components/page';
@import 'components/tags';

::selection {
  background: map-get($foundation-palette, primary);
}
:focus{
  outline: none !important;
}
html {
  scroll-behavior: smooth;
}
body {
  color: white;
  overflow-x: hidden;
  background-color: black;
}

img {
  max-width: 100%;
}

label {
  color: white;
}

ul {
  margin: 0;
  list-style-type: none;
}

iframe {
  border: none;
}

h1 {
  margin-bottom: 0;
}

.button.hollow {
  color: white;
}
